.env.local
.env.production
ssl/
/etc/letsencrypt

*.log
docker-compose.override.yml
.idea/runConfigurations/
*.iml

idea/

# Ignore datasource configuration files (if present)
datasources.xml
dataSources.local.xml
workspace.xml
scratch
TODO
