.env.local
.env.production

Dockerfile


docker-compose.dev.yml


docker-compose.prod.yml


*.log
docker-compose.override.yml
.idea/runConfigurations/
*.iml

idea/

# Ignore datasource configuration files (if present)
datasources.xml
dataSources.local.xml
workspace.xml
scratch
TODO