

services:
  db:
    image: postgres:13
    env_file:
      - .env.local
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    env_file:
      - .env.local
    command: bash -lc "flask --app run.py db upgrade && flask --app run.py run --host 0.0.0.0 --port 5000 --debug"
    environment:
      FLASK_APP: run.py
      FLASK_DEBUG: "1"

    ports:
      - "0.0.0.0:5000:5000"
    volumes:
      - .:/app




    depends_on:
      - db

volumes:
  postgres_data:
