<!-- templates/select_tickets.html -->
{% extends "base.html" %}

{% block title %}Select Tickets{% endblock %}

{% block content %}
<body>
<h1>Payment Receipt</h1>
<p><strong>Name:</strong> {{name}}</p>
<p><strong>Email:</strong> {{email}}</p>
<p>Order ID: {{ order_id }}</p>
<p>Total Amount: {{ amount }}</p>
<p>Currency: {{ currency }}</p>
<p>Status: {{ status }}</p>
<p>Time slot: {{time_slot}}</p>
<p>Number of Tickets: {{ tickets }}</p>
<div class="mb-3">
    <a href="{{ url_for('views.sign_waiver', order_id=order_id) }}" class="btn btn-primary">Please Complete Registration</a>
</div>


</body>

    {% endblock %}
