<!-- templates/select_tickets.html -->
{% extends "base.html" %}

{% block title %}Select Tickets{% endblock %}

{% block content %}


<body>
    <h1>Easter Access Pass</h1>
    <p>Event goes from 11-3pm<p>
    <form action="{{ url_for('calculate_price') }}" method="post">
        <input type="hidden" id="date" name="date" value="2024-03-31"><br><br>
      
        <input type="hidden" name="time_slot" value="11am-3pm">
        
        
        <label for="tickets">Passes:</label>
        <input type="number" id="tickets" name="tickets" min="1" required><br><br>

        <input type="submit" value="Calculate Price">
    </form>
</body>
<script src="{{ url_for('static', filename='app.js') }}"></script>
    {% endblock %}
